.group-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  min-height: 80vh;
  place-items: center;
  margin: 0 100px;
}

@media only screen and (max-width: 1024px) {
  .group-card {
    grid-template-columns: repeat(2, 1fr);
  }
  .group-card {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 426px) {
  .group-card {
    grid-template-columns: 1fr;
  }
}