.hero-portion {
  width: fit-content;
  height: 100vh;
}

#hero-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}

.mute-button {
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 20px;
  right: 50px;
}