.navbar {
  padding: 20px 200px;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: transparent;
}

.nab-tab {
  text-decoration: none;
  color: white;
}

.hypREspace-logo {
  width: 135px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.navbar-list {
  display: flex;
  gap: 40px;
  list-style: none;
}

.navbar-list li {
  cursor: pointer;
}

.hide {
  display: block;
}

.menu {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .navbar {
    padding: 20px 100px;
  }
}

@media only screen and (max-width: 768px) {
  .menu {
    display: block;
    z-index: 11;
  }

  .navbar-list {
    flex-direction: column;
    align-items: start;
    display: none;
    background-color: #262626;
    color: #ffffff;
    position: absolute;
    top: 130px;
    left: 0;
    width: -webkit-fill-available;
    padding: 20px;
  }

  .navbar-list.show {
    display: flex;
    z-index: 10;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 20px 20px;
  }
}