.footer-design {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #262626;
  color: white;
  width: 100%;
  padding: 20px 150px;
}

.hypREspace-icon {
  width: 100px;
}

@media only screen and (max-width: 768px) {
  .footer-design {
    flex-direction: column;
    gap: 50px;
    text-align: center;
  }
}